.login-card {
	width: 100%;
	background: rgba(255, 255, 255, 0.1) none repeat scroll !important;
	border: none;
}


.login-card /deep/ .el-input__inner {
	background-color: #09223d;
	font-size: 14px;
	border: 1px solid #04476E;
	color: #3DCEE9;
}

.login-card .el-input /deep/ input::-webkit-input-placeholder {
	color: #3DCEE9;
	font-size: 14px;
}

.login-card .el-input /deep/ input::-moz-input-placeholder {
	color: #3DCEE9;
	font-size: 14px;
}

.login-card .el-input /deep/ input::-ms-input-placeholder {
	color: #3DCEE9;
	font-size: 14px;
}

.login-card /deep/ .el-cascader__search-input {
	background-color: #09223d;
	font-size: 14px;
}

.login-card .el-button {
	color: #3DCEE9;
	background-color: #09223d;
	border-color: #04476E;
}

.login-card .el-button--primary:hover {
	background-color: #04476E;
}
