.cell .warning-row {
	background: oldlace;
}

.demonstration {
	font-size: 16px;
	line-height: 40px;
	color: #ECECEC;
}

.block {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, 0.4);
}

.block_1 {
	padding-left: 20px;
}

.block_1 /deep/ .el-input__inner {
	background-color: #09223d;
	font-size: 16px;
}

.block_2 /deep/ .el-input__inner{
	color: #3DCEE9;
}

.el-table {
	color: #3DCEE9;
	font-size: 18px;
}

.table-wrapper /deep/ .el-table__empty-text {
	color: #3DCEE9;
}

.table-wrapper /deep/ .el-table {
	border-color: #04476E;
}

.table-wrapper /deep/ .el-table,
.el-table__expanded-cell {
	background-color: #071125;
	border-color: #04476E;
}

.table-wrapper /deep/ .el-table tr {
	background-color: #071125 !important;
}

.table-wrapper /deep/ .el-table td,
.table-wrapper /deep/ .el-table th {
	 padding: 8px 0px;
}

.table-wrapper /deep/ .el-table__fixed-right::before,
.table-wrapper /deep/ .el-table__fixed::before {
	background-color: #04476E;
}

.table-wrapper /deep/ .el-table--enable-row-transition .el-table__body td,
.el-table .cell {
	background-color: #071125;
	border-color: #04476E;
}

.block /deep/ .el-input__inner {
	background-color: #09223d;
	font-size: 16px;
	/* height: 50px; */
	border: 1px solid #04476E;
}

.block /deep/ .el-range-input {
	background-color: #09223d;
	font-size: 16px;
	color: #3DCEE9;
}

.block /deep/ .el-range-separator {
	font-size: 16px;
	color: white;
}

.el-pagination.is-background .el-pager li:not(.disabled).active {
	background-color: #3DCEE9;
	color: #3DCEE9;
}

.table-wrapper /deep/ .el-input__inner {
	margin-top: 2px;
	height: 35px;
	font-size: 16px;
	background-color: transparent;
	border-color: #04476E;
	color: #3DCEE9;
}

.table-wrapper /deep/ .el-pagination.is-background .btn-next,
.table-wrapper /deep/ .el-pagination.is-background .btn-prev,
.table-wrapper /deep/ .el-pagination.is-background .el-pager li {
	width: 35px;
	height: 35px;
	line-height: 35px;
	border-color: rgba(5, 62, 98, 1);
	background-color: rgba(9, 34, 61, 1);
	color: white;
}

.table-wrapper /deep/ .el-pagination.is-background .btn-next:not(.disabled).active,
.table-wrapper /deep/ .el-pagination.is-background .btn-prev:not(.disabled).active,
.table-wrapper /deep/ .el-pagination.is-background .el-pager li:not(.disabled).active {
	width: 35px;
	height: 35px;
	line-height: 35px;
	border-color: rgba(5, 62, 98, 1);
	background-color: #3DCEE9;
	color: white;
}

.table-wrapper /deep/ .el-pagination__jump {
	color: white;
	font-size: 16px;
}

.el-breadcrumb__item /deep/ .el-breadcrumb__inner {
	color: white;
}

/* 修改不同浏览器内核下的 placeholder 样式 */
.block /deep/ input::-webkit-input-placeholder {
	color: #3DCEE9;
}

.block /deep/ input::-moz-input-placeholder {
	color: #3DCEE9;
}

.block /deep/ input::-ms-input-placeholder {
	color: #3DCEE9;
}

.el-table--border::after,
.el-table--group::after,
.el-table::before {
	background-color: #04476E;
}

.block_1 /deep/ .el-tag--info {
	background-color: #04476E;
	border-color: #04476E;
	color: #3DCEE9;
	font-size: 16px;
}

.el-button{
	color: #3DCEE9;
	background-color: #09223d;
	border-color: #04476E;
	margin-left: 20px;
}

.table-wrapper /deep/ .el-pagination__total{
	color: #FFFFFF;
	line-height: 39px;
}
