.soil_header{
	display: flex;
	color: #FFFFFF;
}

.soil_header span:nth-child(2):hover{
	color: #55A0DC;
	cursor: pointer;
}

.addNew{
	display: flex;
	padding-bottom: 10px;
}

.addNew .el-button{
	color: #3DCEE9;
	background-color: #09223d;
	border-color: #04476E;
}

.addNew .el-button:hover{
	background-color: #04476E;
	border-color: #09223d;
}

.table-wrapper .el-button{
	color: #3DCEE9;
	width: 60px;
	background-color: #09223d;
	border-color: #04476E;
}

.table-wrapper .el-button:hover{
	background-color: #04476E;
	border-color: #09223d;
}