.soil_header {
	display: flex;
	color: #FFFFFF;
}

.soil_header span:nth-child(2):hover {
	color: #55A0DC;
	cursor: pointer;
}

.center {
	/* display: flex; */
	margin: 15px 0px 0px 0px;
}

.center span {
	color: #FFFFFF;
	line-height: 40px;
}

.center .el-button {
	margin-left: 20px;
	color: #3DCEE9;
	background-color: #09223d;
	border-color: #04476E;
}

.center .el-button:hover {
	background-color: #04476E;
	border-color: #09223d;
}

.center /deep/ .el-range-input {
	background-color: #09223d;
	font-size: 16px;
	color: #3DCEE9;
}

.center /deep/ .el-range-separator {
	font-size: 16px;
	color: white;
}
